.app__projects {
  width: 100%;
  flex: 1;
  flex-direction: column;
}

.app__project-portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
  .app__project-item {
    flex-direction: column;
    width: 280px;
    height: 470px;
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
    margin: 2.2rem;
    padding: 1.1rem;
    border-radius: 1rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;

    @media screen and (min-width: 2000px) {
      width: 400px; 
      border-radius: 1rem;
      padding: 1.3rem;
    }
    
    @media screen and (max-width: 375px) {
      width: 100%; 
      margin: 0.8rem
    }
  }
}

.app__project-img {
  width: 300px;
  height: 300px;
  position: relative;
  
  img {
    width: 70%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    height: 400px;
  }
}

.app__project-hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  transition: all 0.2s ease;

  div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 1rem;
    cursor:  pointer;
    font-weight: 700;
    transition: all 0.2s ease;

    svg {
      width: 65%;
      height: 65%;
      color: #FFF;
    }

    @media screen and (max-width: 450px) {
      height: 30px;
      width: 30px;
    }
  }
}

.app__project-content {
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 0.4rem;

  h4 {
    margin-top: 0.8rem;
    line-height: 1.2;
  }

}