.app__navbar {
  width: 100%;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  background: rgba(252, 165, 0, 0.7);
  backdrop-filter: blur(4px);
  position: fixed;
}

.app__navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;

    @media screen and (min-width: 2000px){
      width: 300px;
    }
  }
}