.app__navbar {
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--primary-color);
  opacity: 0.97;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;


  .hamburger-react {
    @media screen and (min-width: 975px) {
      display: none;
    }
  }
}


.app__navbar-logo {
  display: flex;
  align-items: center;

  img {
    width: 200px;

    @media screen and (min-width: 2000px){
      width: 300px;
    }

    @media screen and (max-width: 1075px){
      width: 150px;
    }
  }
}

.app__navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  list-style: none;

  li {
    cursor: pointer;
    margin: 0 2rem;
    flex-direction: column;

    a {
      text-decoration: none;
      color: var(--black-color);
      flex-direction: column;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-size: 1rem;
      display: block;
      position: relative;
      padding: 0.1em 0;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.16em;
        background-color: var(--black-color);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
      }

      &:hover::after, &:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
      }
    }

    @media screen and (max-width: 1200px) {
      margin: 0 1rem;
    }
  }

  @media screen and (max-width: 975px) {
    display: none;
  }
}

.app__navbar-menu {

  

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    
    padding: 1rem;

    width: 80%;
    height: 100vh;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    
    ul {
      padding: 0;
      list-style: none;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }

    li {
      margin: 1.5rem 15%;
      a {
        color: var(--black-color);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 1.3rem;
        display: block;
        color: var(--primary-color);
        transition: all 0.1s ease-in-out;

        &:hover {
          transform: scale(1.1);
          font-weight: 600;
        }
      }
    }
    @media screen and (min-width: 975px) {
      display: none;
    }
  }

  @media screen and (min-width: 975px) {
    display: none;
  }
}